* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 20px;
}
.box {
  margin-top: 10px;
  overflow: auto;
}
.box1 {
  background-color: #ffffff;
  height: 200px;
  width: 200px;
  float: left;
}

.bg1 {
  background-color: #ffaaaa;
}

.bg2 {
  background-color: #ffbbbb;
}

.bg3 {
  background-color: #ffcccc;
}

.bg4 {
  background-color: #ffdddd;
}

.body {
  margin-top: 10px;
}
